.Cell {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    background-color: #ede0c8;
    color: #776e65;
    font-size: 30px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 0;
  }

  .Cell:last-child {
    margin-right: 0;
  }

  .Cell--active {
    background-color: lightgoldenrodyellow;
  }

  .Cell--disabled {
    cursor: default;
  }
